[Unit]
Description=LiSta Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lista_bot.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target